body {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a,
li,
ul,
h1,
h2,
h3,
p,
input {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
