.pokemon {
  padding-top: 200px;
}

.pokemon-titulo h1 {
  font-family: "Fredoka One";
  color: #00057f;
  font-size: 68px;
  margin-bottom: 50px;
}

.pokemon-titulo span {
  color: #8d0000;
}

#cards {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  gap: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

.pokemon-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  padding: 25px 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  height: 300px;
  width: 200px;
  z-index: 1;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.img-poke {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  height: 150px;
  position: absolute;
}

.pokemon-card h2 {
  font-size: 18px;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
}

.pokemon-card span {
  font-size: 14px;
  color: #000000;
  position: absolute;
  top: 25px;
  left: 10px;
  font-family: "Fredoka One", sans-serif;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 20px 0;
}

.paginacao button {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  color: #000000;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.paginacao button:hover {
  border: 1px solid #000000;
}

.paginacao button.active {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  font-weight: bold;
}

.paginacao button:disabled {
  opacity: 0.5;
  /* cursor: not-allowed; */
}

@media (max-width: 1000px) {
  #cards {
    grid-template-columns: 3fr 3fr;
  }
}

@media (max-width: 800px) {
  .img-poke {
    margin-left: 25px;
  }
}

@media (max-width: 700px) {
  .img-poke {
    margin-left: 25px;
  }
}

@media (max-width: 600px) {
  .pokemon {
    padding-top: 200px;
  }

  .img-poke {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  #cards {
    grid-template-columns: 3fr;
    justify-self: center;
  }

  .img-poke {
    margin-left: 10px;
  }
}
